//colors
$white: white;
$white_80: rgba(255, 255, 255, 0.8);
$white_90: rgba(255, 255, 255, 0.9);
$concrete: #f2f2f2;
$color_cape_cod_approx: #404040;
$color_deep_cerulean_approx: #0085a1;
$gray: #808080;
$color_gallery_approx: #eeeeee;

//fonts
$font_0: Lora;
$font_1: Times New Roman;
$font_2: serif;
$font_3: Open Sans;
$font_4: Helvetica Neue;
$font_5: Helvetica;
$font_6: Arial;
$font_7: sans-serif;